div.showQuestion-tkt {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
div.showQuestion-tkt div.title {
    text-align: center;
    flex-basis: 15vh;
    font-weight: bolder;
    color: black;
    font-size: 70px;
    background-color: white;
    border-bottom: gray solid 2px;
    padding: 3%;
}
div.showQuestion-tkt div.body {
    display: flex;
    flex-basis: 50vh;
    padding: 0% 5%;
    justify-content: space-between;
    align-items: center;
    font-weight: 900;
}
div.showQuestion-tkt div.footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 2%;
}
div.showQuestion-tkt div.footer .answers {
    flex-basis: 49%;
    fill: white;
    color: white;
    font-weight: bolder;
    font-size: 10px;
    display: flex;    margin-top: 20px;
    border-radius: 3px;
}
div.showQuestion-tkt div.footer .signature {
    min-height: 25em;
    margin: 1px;
    display: flex;
    align-items: center;
}
div.showQuestion-tkt div.footer .signature .sSvg svg {
    transform: scale(7) translate(10px, 0px);
}
div.showQuestion-tkt div.footer .answer {
    color: white;
    font-size: 45px;
    font-weight: bolder;
    text-align: center;
    width: 100%;
    padding-top: 2em;
}
div.showQuestion-tkt .time {
    border-radius: 50%;
    width: 20rem;
    height: 20rem;
    background-color: darkslategrey;
    text-align: center;
    padding-top: 0.8em;
    font-size: 100px;
    color: white;
}

div.showQuestion-tkt .media {
    max-height: 50vh;
}