::-webkit-scrollbar {
    width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

div.sideBar {
    display: flex;
    flex-direction: column;
    align-items: center;
}
div.listQuestion {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-height: 70vh;
    overflow-y: scroll;
}
div.listQuestion div.draggableQuestion {
    width: 100%;
    height: fit-content;
}
div.listQuestion div.draggableQuestion#target {
    width: 100%;
    height: fit-content;
    background-color: #c9c9e3;
}

div.addQuestion {
    /* display: flex;
    flex-direction: column;
    height: 10rem;
    align-items: center; */
    padding: 2rem;
}

div.addQuestion button.add {
    background-color: #1a65fc;
    height: 3rem;
    width: 12rem;
    font-size: 15px;
    font-weight: bold;
    color: white;
    border: none;
    outline: none;
    border-radius: 5px;
    box-shadow: 0 5px darkblue;
    margin-bottom: 20px;
}

div.addQuestion div.selectType {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 5rem;
}

div.addQuestion div.selectType button {
    color: black;
    margin-bottom: 10px;
    font-weight: bold;
    font-size: 15px;
    height: 5rem;
    width: 100%;
    outline: 0;
    border: 0;
    border-radius: 5px;
    box-shadow: 0 5px darkgray;
}