div.Container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
}
div.Container header {
    display: flex;
    width: calc(100%);
    justify-content: center;
    padding: 3% 0 1% 0;
}

.Container header input {
    width: 90%;
    height: 10rem;
    border-radius: 5px;
    border: 0px;
    box-shadow: 0 5px grey;
    text-align: center;
    font-size: 40px;
    padding: 0;
    outline: none;
}

div.Container main {
    display: flex;
    padding: 0% 20% 0 10%;
}

div.Container main div.left-col {
    flex: 1 1 20%;
    margin-right: 20px;
}
div.Container main div.left-col div.subOption {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    font-size: 15px;
    height: 100%;
}
div.Container
    main
    div.left-col
    div.subOption
    div.selectTimeLimit
    div.timeLimit {
    background-color: white;
    border-radius: 50%;
    width: 4rem;
    height: 4rem;
    text-align: center;
    word-wrap: break-word;
    font-weight: bold;
    color: black;
    font-size: 20px;
    line-height: 1rem;
    padding: 15px 10px;
}

div.Container
    main
    div.left-col
    div.subOption
    div.selectTimeLimit
    div.timeLimit.showOption {
    background-color: purple;
    color: white;
}

div.Container main div.left-col div.subOption div.selectTimeLimit .optionGrid {
    position: fixed;
    width: 220px;
    height: 220px;
    display: grid;
    grid-template-areas:
        "o8 o1 o2"
        "o7 o0 o3"
        "o6 o5 o4";
    top: 290px;
    left: 525px;
    align-items: center;
    justify-content: space-around;
    animation-duration: 200ms;
    animation-name: option-popup;
}
@keyframes option-popup {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
}

div.Container
    main
    div.left-col
    div.subOption
    div.selectTimeLimit
    div.optionGrid
    div.hideOption {
    display: none;
}

div.Container main div.left-col div.subOption div.selectTimeLimit .showOption {
    /* position: absolute; */
    background-color: white;
    border-radius: 50%;
    width: 3rem;
    height: 3rem;
    text-align: center;
    font-weight: bold;
    color: black;
    line-height: 1rem;
    padding: 16px 2px;
}

div.subOption div.selectTimeLimit .showOption#o1 {
    grid-area: o1;
}

div.subOption div.selectTimeLimit .showOption#o2 {
    grid-area: o2;
}
div.subOption div.selectTimeLimit .showOption#o3 {
    grid-area: o3;
}

div.subOption div.selectTimeLimit .showOption#o4 {
    grid-area: o4;
}
div.subOption div.selectTimeLimit .showOption#o5 {
    grid-area: o5;
}
div.subOption div.selectTimeLimit .showOption#o6 {
    grid-area: o6;
}
div.subOption div.selectTimeLimit .showOption#o7 {
    grid-area: o7;
}
div.subOption div.selectTimeLimit .showOption#o8 {
    grid-area: o8;
}
div.subOption div.selectPoints {
    display: flex;
    flex-direction: column;
    align-items: center;
}
div.subOption div.selectAnswerOption {
    display: flex;
    flex-direction: column;
    align-items: center;
}
div.subOption div.selectAnswerOption select {
    width: 8rem;
    height: 3rem;
    border-radius: 4px;
    border: none;
    text-align: center;
    background-color: white;
    padding-left: 10%;
}

select#alert {
    animation-duration: 600ms;
    animation-iteration-count: 5;
    animation-name: answer-option-alert;
}
@keyframes answer-option-alert {
    0% {
        transform: rotate(0);
    }
    25% {
        transform: rotate(30deg);
    }
    50% {
        transform: rotate(0);
    }
    75% {
        transform: rotate(-30deg);
    }
    100% {
        transform: rotate(0deg);
    }
}
div.Container main div.right-col {
    flex: 1 1 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1%;
    margin-right: 25%;
    flex-basis: 20rem;
    border: dashed grey 2px;
}

div.Container main div.right-col div.preview {
    height: 15rem;
    width: 100%;
    max-width: 15rem;
    border-radius: 10px;
    display: flex;
    justify-content: center;
}

div.Container main div.right-col img.previewImage {
    height: 18rem;
}

div.Container main div.right-col label.uploadImage {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 5px darkgray;
    width: 10rem;
    height: 3rem;
    text-align: center;
    padding-top: 1.25%;
    font-weight: bold;
    font-size: 16px;
    cursor: pointer;
}
div.Container main div.right-col label.uploadImage:hover {
    background-color: rgb(153, 151, 151);
    box-shadow: none;
    padding-top: 1.35%;
}
div.Container main div.right-col input[type="file"] {
    display: none;
}
div.Container main div.right-col div.deleteImage {
    background-color: rgba(255, 255, 255, 0.384);
    width: 7rem;
    height: 3rem;
    text-align: center;
    padding-top: 1.5%;
    font-size: 16px;
    cursor: pointer;
}
div.Container main div.right-col div.deleteImage:hover {
    background-color: rgb(136, 5, 5);
    font-weight: bold;
    color: white;
    padding-top: 1.35%;
}
div.Container footer {
    padding: 0 5% 2% 5%;
    display: flex;
    flex-wrap: wrap;
}

div.Container footer div.answers {
    flex: 1 1 45%;
    padding-right: 1%;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 5px darkgray;
    margin: 10px 10px;
    display: flex;
    align-items: center;
}
div.Container footer div.answers div.signature {
    flex: 1 0 6%;
    height: 90%;
    background-color: red;
    border-radius: 10px;
    margin: 1%;
    width: 20rem;
}
div.Container footer div.answers div.signature div.sSvg {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: fit-content;
}
div.Container footer div.answers div.signature div.sSvg svg {
    height: 25px;
    width: 25px;
    fill: white;
}

div.Container footer div.answers input.answer {
    flex: 1 1 85%;
    text-align: center;
    height: 6rem;
    margin: 5px;
    outline: 0;
    border: 0;
    font-size: 20px;
    text-align: left;
    color: white;
    padding-left: 10px;
    font-weight: bold;
}
div.Container footer div.answers input.correct {
    width: 4em;
    height: 4em;
    border-radius: 50%;
    vertical-align: middle;
    border: 5px solid rgb(255, 255, 255);
    -webkit-appearance: none;
    outline: none;
    cursor: pointer;
    animation-duration: 800ms;
    animation-iteration-count: 10;
    animation-name: checkbox;
}
@keyframes checkbox {
    0% {
        /* height: 4.5em;
        width: 3.5em; */
        margin-bottom: 0.5em;
    }
    25% {
        margin-bottom: 0em;
        /* height: 4em;
        width: 4em; */
    }
    50% {
        margin-bottom: 0.5em;
        /* height: 4em;
        width: 4em; */
    }
    75% {
        margin-bottom: 0em;
        /* height: 4em;
        width: 4em; */
    }
    100% {
        /* height: 4.5em;
        width: 3.5em; */
        margin-bottom: 0.5em;
    }
}
div.Container footer div.answers input.correct:checked {
    background-color: greenyellow;
    animation: none;
}
