div.start {
    background-color: rgb(48, 35, 134);
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}
div.start div.layout div.currentQuestion {
    padding-top: 1rem;
    padding-right: 1rem;
    position: absolute;
    background-color: orangered;
    width: 400px;
    height: 150px;
    font-size: 60px;
    color: white;
    font-weight: bold;
    text-align: center;
    clip-path: polygon(0% 0%, 100% 0%, 90% 80%, 0% 100%);
}
div.start svg.square {
    position: absolute;
    transform: rotate(45deg);
    width: 500px;
    height: 500px;
}
div.start svg.square rect {
    height: 500px;
    width: 500px;
    fill: darkblue;
}

div.start svg.circle {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 800px;
    height: 800px;
}
div.start svg.circle circle {
    fill: darkblue;
    r: 500;
    cx: 500;
    cy: 700;
}
div.start div.animation {
    height: 300px;
    width: 300px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

div.start div.test_name {
    background-color: rgb(158, 142, 142);
    /* width: 10rem; */
    padding: 0.5rem 1rem;
    position: absolute;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: whitesmoke;
    border-radius: 4px;
    font-size: large;
    font-family: "Archivo Black";
    animation-name: popup_testname;
    animation-duration: 5s;
    /* transform: scale(0.5); */
}

@keyframes popup_testname {
    0% {
        top: 42%;
        left: 25%;
        transform: scale(0.5,0.5);
    }
    30% {
        top: 42.5%;
        left: 25.2%;
        transform: scale(1,1);
    }
    70% {
        top: 42.5%;
        left: 25.2%;
        transform: scale(1,1);
    }
    100% {
        top: 42%;
        left: 25%;
        transform: scale(0);
    }
}
